<ion-header>
  <ion-toolbar>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <article class="prose max-w-lg mx-auto p-2 my-8">
    <p>
      Hello! We could put an ad here, but we chose not to because ads suck. In the same time, keeping
      this app running costs money. So if you can, please make a donation to sustain it.
    </p>
  </article>

  <a href="https://plainlab.gumroad.com/l/musetrainer" target="new">
    <ion-card class="max-w-xs mx-auto">
      <ion-card-header class="flex items-center justify-center flex-col space-y-4">
        <ion-card-title class="flex items-center justify-center space-x-2">
          <ion-icon name="card-outline"></ion-icon>
          <ion-text>
            Gumroad
          </ion-text>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </a>
</ion-content>
