<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="currentFolder !== ''">
      <ion-button (click)="navCtrl.back()">
        <ion-icon color="medium" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ currentFolderTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Info if the directory is empty -->
  <ion-text *ngIf="folderContent.length === 0" class="flex justify-center items-center flex-col my-8 space-y-2 p-2" color="medium">
    <p>
      No MusicXML files here yet.
    </p>
    <p>
      Try
      <ion-chip [routerLink]="['/play/%2Fassets%2Fscores%2FFur_Elise.mxl']">Für Elise</ion-chip> or
      <ion-chip [routerLink]="['/play/%2Fassets%2Fscores%2FWaltz_in_A_Minor.mxl']">Waltz in A Minor</ion-chip> in the meantime.
    </p>
  </ion-text>

  <ion-list>
    <ion-item-sliding *ngFor="let f of folderContent">
      <!-- The actual file/folder item with click event -->
      <ion-item (click)="itemClicked(f)">
          <ion-icon [name]="f.type === 'file' ? 'document-outline' : 'folder'" slot="start" color="medium"></ion-icon>
          <ion-text>
            <h5 class="m-0 pt-4">{{ f.name }}</h5>
            <p class="m-0 pb-4">
              <ion-text color="medium">
                <small *ngIf="f.type === 'file'">{{ f.name.split('.').pop().toUpperCase() }} &middot; {{ fileSize(f.size) }}</small>
                <small *ngIf="f.type === 'directory'">FOLDER</small>
              </ion-text>
            </p>
          </ion-text>
      </ion-item>

      <!-- The start/end option buttons for all operations -->
      <ion-item-options side="end">
        <ion-item-option (click)="rename(f)">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          Rename
        </ion-item-option>
        <ion-item-option (click)="delete(f)" color="danger" style="padding: 0;">
          <ion-icon name="trash" slot="start"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Fab to add files & folders -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-no-border">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="createFolder()">
        <ion-icon name="folder-outline" color="medium-shade"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addFile()">
        <ion-icon name="document-outline" color="medium-shade"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
